	<!DOCTYPE html>
	<html>
	<head>
		<title>Select the client</title>
	</head>
	<body>
	<form method="POST" action="http://localhost:8080/reproductionlists" id="frmRegister" name ="frmRegister" enctype="multipart/form-data">
	<p><label for="user">User</label>
	<select id="id" name="id"></select></p>
	<p><button type="submit" id="btnRegister" name="btnRegister" value="Register" style="cursor:pointer">Guardar</button></p>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		<script>
			var $select = $('#id');
			$.getJSON('/clients', function(data){
				$select.append('<option id="' + data[0]['id'] + '">'+ data[0]['name'] + '</option>');
				$select.append('<option id="' + data[1]['id'] + '">'+ data[1]['name'] + '</option>');
				$select.append('<option id="' + data[2]['id'] + '">'+ data[2]['name'] + '</option>');
				$select.append('<option id="' + data[3]['id'] + '">'+ data[3]['name'] + '</option>');
				$select.append('<option id="' + data[4]['id'] + '">'+ data[4]['name'] + '</option>');
			});
		</script>
	</form>
	</body>
	</html>