<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Create a new song</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <form method="POST" action="http://localhost:8080/songs" id="frmRegister" name ="frmRegister" enctype="multipart/form-data">
	<p><label for="url">URL</label>
    <input type="text" id="url" name="url" value="" /></p>
    <p><label for="tittle">Tittle</label>
    <input type="text" id="tittle" name="tittle" value="" /></p>
    <p><label for="artist">Artist</label>
    <input type="text" id="artist" name="artist" value="" /></p>
    <p><label for="album">Album</label>
    <input type="text" id="album" name="album" value="" /></p>
    <p><label for="genre">Genre</label>
    <input type="text" id="genre" name="genre" value="" /></p>
    <p><label for="track">Track</label>
    <input type="text" id="track" name="track" value="" /></p>
    <p><label for="year">Year</label>
    <input type="text" id="year" name="year" value="" /></p>
    <p><button type="submit" id="btnRegister" name="btnRegister" value="Register" onclick="" style="cursor:pointer">Guardar</button></p>
	</form>
</body>
</html>
